.cwid-container {
  width: 15rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-right: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .cwid-container {
    margin-right: 0;
  }
}
